@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
  --primary: #00ff9d;
  --secondary: #00d2ff;
  --accent: #ff00c1;
  --card-bg: rgba(255, 255, 255, 0.03);
  --card-border: rgba(255, 255, 255, 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-card-bg: var(--card-bg);
  --color-card-border: var(--card-border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}
